*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: calc(100vw-20px);
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}


/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  background-color: #002c8b;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.competitions {
  background-color: teal;
}

.patterns {
  background-color: thistle;
}

.problem-solving {
  background-color: tomato;
}

.games {
  background-color: violet;
}

.albums {
  background-color: yellow;
  color: #444;
}

.art {
  background-color: green;
}

.processes {
  background-color: dodgerblue;
}

.equations {
  background-color: black;
}

.languages {
  background-color: chocolate;
}

.colour-topic {
  background-color: cadetblue;
}

.words {
  background-color: mediumslateblue;
}

.thinking {
  background-color: mediumspringgreen;
  color: #2a2a2a;
}

.spaces {
  background-color: firebrick;
}

.diaries {
  background-color: darkolivegreen;
}

.recipes {
  background-color: gold;
  color: black;
}

.gemstones {
  background-color: coral;
}

.algorithms {
  background-color: chartreuse;
  color: darkslategray;
}

.blogging-software {
  background-color: floralwhite;
  color: #2a2a2a;
}

.lists {
  background-color: aqua;
  color: #2a2a2a;
}

.charts{
  background-color: saddlebrown;
}

.politics {
  background-color: rebeccapurple;
}

.plots {
  background-color: forestgreen;
  color: #2a2a2a;
}

.biology {
  background-color:goldenrod;
  color: #2a2a2a;
}

.moons {
  background-color: royalblue;
  color: #2a2a2a;
}

.mistakes {
  background-color: rosybrown;
  color: #2a2a2a;
}

.designs {
  background-color: lavender;
  color: #2a2a2a;
}

.graphs {
  background-color: moccasin;
  color: #2a2a2a;
}

.networks {
  background-color: greenyellow;
  color: #2a2a2a;
}

.reviews {
  background-color: indianred;
  color: #2a2a2a;
}

.practicalities {
  background-color: indigo;
}

.creativity {
  background-color: bisque;
  color: #2a2a2a;
}

.energy {
  background-color: cornflowerblue;
  color: #2a2a2a;
}

.novels {
  background-color: mediumorchid;
  color: #2a2a2a;
}

.money {
  background-color: navy;
}

.quizzes {
  background-color: mintcream;
  color: #2a2a2a;
}

.hidden-place {
  background-color: orangered;

}